.highlightClass {
    width: 70%;
    margin: 2rem auto;
}

.highlightClass h1 {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
}

.highlightClass p {
    padding-left: 60%;
    font-weight: normal;
    font-size: 2.5vw;
}

.upperQuoteClass {
    padding-left: 1.5rem !important;
    text-align: left !important;
    border-left: 2px solid #212529;
    border-top: 2px solid #212529;
    font-size: 4rem;
}

.bottomQuoteClass {
    padding-right: 1.5rem !important;
    text-align: right !important;
    border-right: 2px solid #212529;
    border-bottom: 2px solid #212529;
    font-size: 4rem;
}

.buttonDeleteClass{
    width: 5rem;
    background-color: #BBCE8A;
    border-radius: 0.5rem;
    height: 1.7rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.buttonDeleteClass:hover{
    background-color: #939F5C;
}